configuration.json
# iOS/PebbleTimeSchedule.xcodeproj/project.xcworkspace/xcuserdata/
# iOS/PebbleTimeSchedule.xcworkspace/xcuserdata/
# iOS/PebbleTimeSchedule/iOS/Resources/Settings/configuration.json
